@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-white font-sans antialiased;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #334155; /* dark-700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; /* dark-600 */
}